<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--	
	mybatis-userservice-mapping.xml : SQL 를 갖는 설정화일 (MetaData) 
	- MyBatis Framework 은 XML MetaData를 사용 SQL구문을 관리하며,
	  (SQL은 xml 을 통해 적절히 캡슐화 되어 애플리케이선 의 외부로 분리함)
	- SQL문의 입력(?) / 출력(?)을 매핑한다.  <== 아래의 select element 참조
 -->
 
<!-- SQL definition -->
<mapper namespace="TheaterMapper">
	<resultMap type="theater" id="theaterResultMap">
	 	<result column="theater_no" property="theaterNo" jdbcType="INTEGER"/>
	 	<result column="theater_name" property="theaterName" jdbcType="VARCHAR"/>
	</resultMap>
	 
	 <sql id="theater-select">
	 	SELECT
	 		theater_no AS theaterNo,
	 		theater_name AS theaterName
	 	FROM theater
	 </sql>
	 
	<select id="getTheater" resultType="theater" parameterType="string">
		SELECT
			theater_no AS theaterNo,
			theater_name AS theaterName
		FROM theater
		WHERE theater_no = #{theaterNo}
	</select>	 
	 
	<select id="getTheaterList" resultType="theater">
		SELECT
			theater_no AS theaterNo,
			theater_name AS theaterName
		FROM theater
	</select>
	
	<insert id="insertTheater" parameterType="theater">
		INSERT INTO theater VALUES( 
			theater_seq.nextVal,
			#{theaterName}
		)
	</insert>
</mapper>


<!-- Finish -->